<!--  --------------------------------------- -->
<!--       Authors: Kristina Kacmarova        -->
<!--                Miranda Postma       	  -->
<!--                Ridwan Bari               -->
<!--                Winston Herold            -->
<!--       Python Version: 3.7.4              -->
<!--       Created on: 2022-01-18             -->
<!--  --------------------------------------- -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    	<!-- import stylesheet -->
    	<link rel="stylesheet" type="text/css" href="../static/css/about.css">
    	<!-- icon of tab -->
    	<link rel="shortcut icon" type="image/x-icon" href= "{{ url_for('static',filename='img/favicon.ico') }}">
    	<!-- name of tab -->
    	<title>Syllabi</title>
	</head>
	<body>
		<div class="header">
  			<h1 style="font-size: 30px;">Syllabi</h1>
  			<h3>Upload you syllabus  |  Download your deadlines</h3>
		</div>

		<div class="navbar">
  			<a href="/">HOME</a>
  			<a href="/about/">ABOUT US</a>
  			<a href="/tutorial/" class="active">TUTORIAL</a>
  			<a href="/contact/" class="right">CONTACT US</a>
		</div>
		
		<div class="row">
			<div class="leftside">
				<h2>1. Upload your syllabus</h2>
				<p>Supported formats: .txt, .docx, .pdf</p>
				<!-- gif demonstration -->
				<img src="../static/img/demo.gif">
			</div>
			<div class="middle">
				<h2>2. Choose a calendar</h2>
				<p>Supported calendars: iOS Calendar, Google, Outlook</p>
				<!-- gif demonstration -->
				<img src="../static/img/demo.gif">
			</div>
			<div class="rightside">
				<h2>3. Download your deadlines</h2>
				<p>Click on the .ics file to input your deadlines</p>
				<!-- gif demonstration -->
				<img src="../static/img/demo.gif">
			</div>
		</div>
		
		<div class="row">
			<div class="full">
				<h1 style="font-size: 30px;">Ready? Let's get started!</h1>
				<p>Upload you syllabus, and we'll do the rest!</p>
			</div>
		</div>

		<div class="footer">
		</div>
	</body>
</html>



